<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
작성자 : 김정훈
작성일 : 2016.07.24
내용 : 자전거 대여/반납관련 MyBatis Mapper
수정내역 : 
 -->

	<mapper namespace="com.babjo.prjfinal.bicycleMapper">
	
	<select id="stationinfo" resultType="BicycleVO">
		select * from tbl_bicycle 
		where b_state=1 and s_code=#{s_code}
	</select>
	
	<insert id="rentinfo">
		insert into tbl_rent(r_date, b_code, s_code, s_location, s_sub_location, m_code, m_name, r_state)
		value(#{r_date}, #{b_code}, #{s_code}, #{s_location}, #{s_sub_location}, #{m_code}, #{m_name}, #{r_state})
	</insert>
	
	<update id="rentbicycle">
		update tbl_bicycle set b_state=2
		where b_code=#{b_code}
	</update>
	
	<select id="renting" resultType="RentVO">
		select * from tbl_rent 
		where m_code=#{m_code} and r_state=1
	</select>
	
	<update id="turnin">
		update tbl_rent set r_state=2 
		where m_code=#{m_code} and r_state=1
	</update>
	
	<update id="turninbicycle">
		update tbl_bicycle set b_state=1 where b_code=#{b_code}
	</update>
	
</mapper>