<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
작성자 : 강인영
작성일 : 2016.08.04
내용 : 결제 관련 MyBatis Mapper
수정내역 : 2016.08.04 myMileage 추가
 -->
 
<mapper namespace="com.babjo.mappers.PaymentMapper">

	<insert id="pay">
		insert into tbl_payment(m_code, p_money, p_means, p_period, usemileage, savemileage)
		values(#{m_code}, #{p_money}, #{p_means}, #{p_period}, #{usemileage}, #{savemileage})
	</insert>
	
	<select id="readPayInfo" resultType="PaymentVO">
		select * from tbl_payment 
		where p_code = #{p_code}
	</select>
	
	<update id="update">
		update tbl_member set m_money=m_money+#{m_money}, m_mileage = #{m_mileage}
		where m_code = #{m_code};
	</update>
		
	<update id="upgrade">
		update tbl_member set m_grade = #{m_grade} 
		where m_code = #{m_code}
	</update>
	
	<select id="myMileage" parameterType="int" resultType="int">
		select m_mileage from tbl_member where m_code = #{m_code}
	</select>
</mapper>
